@{
    ViewData["Title"] = ViewBag.Course.Emoji + ViewBag.Course.Name;
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("/css/materials.css")">
}

<div class="menu">
    <a class="menu-item" href="../Details/@ViewBag.Id"><span class="item-emoji course-emoji">‍@ViewBag.Course.Emoji</span> <span class="item-text">Курс</span></a>
    <a class="menu-item" href="../Students/@ViewBag.Id"><span class="item-emoji">‍🎓</span> <span class="item-text">Студенти</span></a>
    <a class="menu-item current" href="../Materials/@ViewBag.Id">‍<span class="item-emoji">‍📚</span> <span class="item-text">Матеріали</span></a>
    <a class="menu-item" href="../Marks/@ViewBag.Id">‍<span class="item-emoji">‍✅</span> <span class="item-text">Оцінювання</span></a>
    <a class="menu-item" href="../Settings/@ViewBag.Id">‍<span class="item-emoji">‍⚙️</span> <span class="item-text">Налаштування</span></a>
</div>

<div class="container content" id="@ViewBag.Id"></div>

@section Scripts
{
    <script src="@Url.Content("/js/materials.js")"></script>
}

