@{
    ViewData["Title"] = ViewBag.Course.Emoji + ViewBag.Course.Name;
}

@section Styles {
    <link rel="stylesheet" href="@Url.Content("/css/materials.css")">
}

<div class="menu">
    <a class="menu-item" href="../Details/@ViewBag.Id"><span class="item-emoji course-emoji">‍@ViewBag.Course.Emoji</span> <span class="item-text">Курс</span></a>
    <a class="menu-item" href="../Students/@ViewBag.Id"><span class="item-emoji">‍🎓</span> <span class="item-text">Студенти</span></a>
    <a class="menu-item current" href="../Materials/@ViewBag.Id">‍<span class="item-emoji">‍📚</span> <span class="item-text">Матеріали</span></a>
    <a class="menu-item" href="../Marks/@ViewBag.Id">‍<span class="item-emoji">‍✅</span> <span class="item-text">Оцінювання</span></a>
    <a class="menu-item" href="../Settings/@ViewBag.Id">‍<span class="item-emoji">‍⚙️</span> <span class="item-text">Налаштування</span></a>
</div>

<div class="container content" id="@ViewBag.Id">
    <br />
    <div class="row">
        <div class="col-xs-6">
            <h4 class="header">🎙 Лекції</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo urna sed laoreet accumsan. Fusce consequat quis lectus posuere ullamcorper. Aenean nibh enim, volutpat nec lobortis eu, scelerisque eget magna. Integer a elementum ligula. Suspendisse potenti. Donec imperdiet, justo et placerat semper, turpis risus hendrerit enim, in pretium nisi odio id magna. In pretium, sem in rhoncus egestas, nunc tellus aliquam ipsum, in tempus nisi neque sed nisl. Morbi tincidunt velit lacus, quis blandit mi bibendum at. Proin purus odio, interdum in dolor in, convallis cursus velit. Etiam accumsan eget est non condimentum. Cras ut erat ut orci pulvinar pulvinar ut efficitur arcu. Aliquam nec rutrum mi, non fermentum lorem. Morbi nunc nulla, hendrerit efficitur elementum vitae, imperdiet sed turpis. Aliquam non suscipit nibh, in lobortis enim. Mauris eget porta eros. Phasellus eget leo suscipit, faucibus velit nec, consequat elit.</p>
        </div>
        <div class="col-xs-6">
            <h4 class="header">📝 Завдання</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo urna sed laoreet accumsan. Fusce consequat quis lectus posuere ullamcorper. Aenean nibh enim, volutpat nec lobortis eu, scelerisque eget magna. Integer a elementum ligula. Suspendisse potenti. Donec imperdiet, justo et placerat semper, turpis risus hendrerit enim, in pretium nisi odio id magna. In pretium, sem in rhoncus egestas, nunc tellus aliquam ipsum, in tempus nisi neque sed nisl. Morbi tincidunt velit lacus, quis blandit mi bibendum at. Proin purus odio, interdum in dolor in, convallis cursus velit. Etiam accumsan eget est non condimentum. Cras ut erat ut orci pulvinar pulvinar ut efficitur arcu. Aliquam nec rutrum mi, non fermentum lorem. Morbi nunc nulla, hendrerit efficitur elementum vitae, imperdiet sed turpis. Aliquam non suscipit nibh, in lobortis enim. Mauris eget porta eros. Phasellus eget leo suscipit, faucibus velit nec, consequat elit.</p>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("/js/materials.js")"></script>
}

