.menu {
    text-align: center;
}

.menu-item {
    font-family: "Rubik";
    color: #A5A5A5;
    padding: 1%;
}

.current {
    color: black;
}

.menu-item:hover {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 450px) {
    .menu {
        margin-top: 6%;
    }

    .item-emoji {
        padding: 4%;
    }

    .item-text {
        display: none;
    }

    .table-avatar {
        display: none;
    }
}