@{
    ViewData["Title"] = "Main page";
}

<div class="text-center">
    <h2>Доброго вечора, @ViewBag.TgUser.TelegramFirstName</h2>
    @if(@ViewBag.Role == "Teacher")
    {
        <h4>Ваші курси:</h4>
        
    }
    else
    {
        <h5>Dashboard for student is not ready</h5>
    }




    <form method="post" asp-controller="Account" asp-action="Logout">
        <button type="submit" class="btn btn-link">Logout</button>
    </form>
</div>
